@model CreatingMapModel

@{
    ViewData["Title"] = "World Map";
}
<h2>@ViewData["Title"]</h2>


@{int[,] map = Model.Map;}
@for (int i = 0; i < map.GetLength(0); i++)
{
    <br />
    for (int j = 0; j < map.GetLength(1); j++)
    {
        if (Model.Castles.FirstOrDefault(c => c.Knight.X == i && c.Knight.Y == j) != null)
        {

            <img src="~/images/Map/Knight.jpg" style="margin-bottom:4px" width="168" height="168" />
            continue;
        }

        @if (map[i, j] == CoreConstants.CastleSpawnValue)
        {
            int id = Model.Castles.FirstOrDefault(c => c.X == i && c.Y == j).Id;

            if (Model.Castles.FirstOrDefault(c => c.Id == id).UserId == Model.UserId)
            {
                <a class="btn btn-success" asp-controller="Castles" asp-action="Details" asp-route-id="@id">
                    <img src="~/images/Castles/HumanBase.png" style="margin-bottom:4px" width="168" height="168" />
                </a>
                continue;
            }

            <a asp-controller="Castles" asp-action="Details" asp-route-id="@id">
                <img src="~/images/Castles/HumanBase.png" style="margin-bottom:4px" width="168" height="168" />
            </a>
            continue;
        }

        @if (map[i, j] == CoreConstants.BanditsSpawnValue)
        {
            if (Model.Castles.Any(c => (c.Knight.X == i && c.Knight.Y == j - 1)))
            {
                <a asp-area="Users" asp-controller="Knights" asp-action="AttackBandits" asp-route-id="@Model.Castles.FirstOrDefault(c=> c.Knight.X == i && c.Knight.Y == j - 1).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/Bandits.jpg" style="margin-bottom:4px" width="168" height="168" />
                </a>
                continue;
            }
            if (Model.Castles.Any(c => (c.Knight.X == i && c.Knight.Y == j + 1)))
            {
                <a asp-area="Users" asp-controller="Knights" asp-action="AttackBandits" asp-route-id="@Model.Castles.FirstOrDefault(c=> c.Knight.X == i && c.Knight.Y == j + 1).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/Bandits.jpg" style="margin-bottom:4px" width="168" height="168" />
                </a>
                continue;
            }
            if (Model.Castles.Any(c => (c.Knight.X == i - 1 && c.Knight.Y == j)))
            {
                <a asp-area="Users" asp-controller="Knights" asp-action="AttackBandits" asp-route-id="@Model.Castles.FirstOrDefault(c=> c.Knight.X == i -1 && c.Knight.Y == j).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/Bandits.jpg" style="margin-bottom:4px" width="168" height="168" />
                </a>
                continue;
            }
            if (Model.Castles.Any(c => (c.Knight.X == i + 1 && c.Knight.Y == j)))
            {
                <a asp-area="Users" asp-controller="Knights" asp-action="AttackBandits" asp-route-id="@Model.Castles.FirstOrDefault(c=> c.Knight.X == i + 1 && c.Knight.Y == j).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/Bandits.jpg" style="margin-bottom:4px" width="168" height="168" />
                </a>
                continue;
            }
            <img src="~/images/Map/Bandits.jpg" style="margin-bottom:4px" width="168" height="168" />
            continue;
        }
        else
        {
            
                if (Model.UserCastles.Any(c => (c.Knight.X == i && c.Knight.Y == j - 1)))
                {
                <a asp-area="Users" asp-controller="Knights" asp-action="Move" asp-route-id="@Model.Castles.FirstOrDefault(c => c.Knight.X == i && c.Knight.Y == j - 1).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/MapGround.png" style="margin-bottom:4px" width="168" height="168" />
                </a>
                    continue;
                }
                if (Model.UserCastles.Any(c => (c.Knight.X == i && c.Knight.Y == j + 1)))
                {
                <a asp-area="Users" asp-controller="Knights" asp-action="Move" asp-route-id="@Model.Castles.FirstOrDefault(c => c.Knight.X == i && c.Knight.Y == j + 1).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/MapGround.png" style="margin-bottom:4px" width="168" height="168" />
                </a>
                    continue;
                }
                if (Model.UserCastles.Any(c => (c.Knight.X == i - 1 && c.Knight.Y == j)))
                {
                <a asp-area="Users" asp-controller="Knights" asp-action="Move" asp-route-id="@Model.Castles.FirstOrDefault(c => c.Knight.X == i - 1 && c.Knight.Y == j).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/MapGround.png" style="margin-bottom:4px" width="168" height="168" />
                </a>
                    continue;
                }
                if (Model.UserCastles.Any(c => (c.Knight.X == i + 1 && c.Knight.Y == j)))
                {
                <a asp-area="Users" asp-controller="Knights" asp-action="Move" asp-route-id="@Model.Castles.FirstOrDefault(c => c.Knight.X == i + 1 && c.Knight.Y == j).Knight.Id" asp-route-x="@i" asp-route-y="@j">
                    <img src="~/images/Map/MapGround.png" style="margin-bottom:4px" width="168" height="168" />
                </a>
                    continue;
                }
            <img src="~/images/Map/MapGround.png" style="margin-bottom:4px" width="168" height="168" />
        }
    }
}




