@model AdminUserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details for @Model.Username</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Castle Name
            </th>
           
            <th>
                Blood
            </th>
            <th>
                Gold
            </th>
            <th>
                Gold Income
            </th>
            <th>
                Blood Income
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var castle in Model.Castles)
        {
            <tr>
                <td>
                    @castle.Name
                </td>
                <td>
                    @castle.Blood
                </td>
                <td>
                    @castle.Gold
                </td>
                <td>
                    @castle.TotalGoldIncome
                </td>
                <td>
                    @castle.TotalBloodIncome
                </td>
            </tr>
        }
    </tbody>
</table>
