@model CastlesListingViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your Castles</h2>
@foreach (var castle in Model.Castles)
{
    <div class="leftDiv" style="background-image:url(@castle.ImgUrl)">
        <div style="margin-left:5px;margin-top:5px">
            <p>-Name: @castle.Name</p>
            <p>- Gold: @castle.Gold</p>
            <p>- Blood: @castle.Blood</p>
            <p>- Gold Income: @castle.TotalGoldIncome</p>
            <p>- BloodIncome: @castle.TotalBloodIncome</p>

            <p>
                - Buildings: @foreach (var building in castle.Buildings.GroupBy(b=>b.Name).Select(b=>b.First()).ToList())
                {
                    <img src="@building.ImgUrl" width="80" height="120" />@(building.Name) <text> x  </text> @castle.Buildings.Where(x => x.Name == building.Name).Count() <text>| </text>
                }
            </p>
            <p>
                - Minions: @foreach (var minion in castle.Minions.GroupBy(m => m.Name).Select(m => m.First()).ToList())
                {
                    <img src="@minion.ImgUrl" width="80" height="120" />@(minion.Name) <text> x  </text> @castle.Minions.Where(x => x.Name == minion.Name).Count() <text>| </text>
                    
                }
            </p>
            <p style="margin-top:10%;margin-left:50%">
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@castle.Id">
                    Enter Castle
                </a>
            </p>
        </div>
    </div>
}

