
@model AdminBuildingsListingViewModel

@{
    ViewData["Title"] = "All Buildings";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Index"
   asp-route-page="@(Model.PrviousPage)"
   class="btn btn-default">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.NextPage)"
   class="btn btn-default">
    Next
</a>
<p>@Model.PrviousPage @Model.CurrentPage @Model.NextPage</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Img Url
            </th>
            <th>
                Gold Cost
            </th>
            <th>
                Blood Cost
            </th>
            <th>
                Gold Income
            </th>
            <th>
                Blood Income
            </th>
            <th>
                Build Time
            </th>
            <th>
                User
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model.AllBuildings)
        {
            <tr>
                <td>
                    @building.Id
                </td>
                <td>
                    @building.Name
                </td>
                <td>
                    @building.ImgUrl
                </td>
                <td>
                    @building.GoldCost
                </td>
                <td>
                    @building.BloodCost
                </td>
                <td>
                    @building.GoldIncome
                </td>
                <td>
                    @building.BloodIncome
                </td>
                <td>
                    @building.BuildTime
                </td>
                <td>
                    @building.Username
                </td>
                <td>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="Buildings" asp-action="Edit" asp-route-id="@building.Id">Edit</a>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="Buildings" asp-action="Delete" asp-route-id="@building.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


